[Unit]
Description=Paperless Celery Beat
Requires=redis.service

[Service]
User=sudharsans
#Group=paperless
WorkingDirectory=/home/sudharsans/projects/hlb-sage-erp/src
ExecStart=/home/sudharsans/projects/hlb-sage-erp/.venv/bin/celery --app paperless beat --loglevel INFO

[Install]
WantedBy=multi-user.target
