[Unit]
Description=Paperless consumer
Requires=redis.service

[Service]
User=sudharsans
#Group=paperless
WorkingDirectory=/home/sudharsans/projects/hlb-sage-erp/src
ExecStart=/home/sudharsans/projects/hlb-sage-erp/.venv/bin/python manage.py document_consumer

[Install]
WantedBy=multi-user.target
