[Unit]
Description=Paperless webserver
After=network.target
Wants=network.target
Requires=redis.service
Requires=paperless-webserver.socket

[Service]
User=sudharsans
WorkingDirectory=/home/sudharsans/projects/hlb-sage-erp/src

Environment=GRANIAN_HOST=0.0.0.0
Environment=GRANIAN_PORT=8000
Environment=GRANIAN_WORKERS=1

ExecStart=/bin/sh -c '\
  [ -n "$PAPERLESS_BIND_ADDR" ] && export GRANIAN_HOST=$PAPERLESS_BIND_ADDR; \
  [ -n "$PAPERLESS_PORT" ] && export GRANIAN_PORT=$PAPERLESS_PORT; \
  [ -n "$PAPERLESS_WEBSERVER_WORKERS" ] && export GRANIAN_WORKERS=$PAPERLESS_WEBSERVER_WORKERS; \
  [ -n "$PAPERLESS_FORCE_SCRIPT_NAME" ] && export GRANIAN_URL_PATH_PREFIX=$PAPERLESS_FORCE_SCRIPT_NAME; \
  exec /home/sudharsans/projects/hlb-sage-erp/.venv/bin/granian --interface asgi --ws "paperless.asgi:application"'

[Install]
WantedBy=multi-user.target
